{% extends "base.html" %}
{% load mezzanine_tags %}

{% block main %}
<div class="featured-image"></div>
<section class="container">
    <article id="paintings">
       <h2>Paintings</h2>
        <p>With 4 years of art school in Munich and a lifetime of experience creating, I have produced captivating paintings and drawings, using acrylics, pen and ink, and watercolor.</p>
        <div class="images">
        <div class="feature-thumb">
        <img src="{{ MEDIA_URL }}{% thumbnail "uploads/galleries/shandtree.jpg" 625 700 %}" alt="hand tree pen and ink"></div>
        <div class="thumb-div">
        <img class="thumb" src="{{ MEDIA_URL }}{% thumbnail "uploads/galleries/red_feather_bw.jpg" 255 230 %}" alt="red feather">
        <img class="thumb" src="{{ MEDIA_URL }}{% thumbnail "uploads/galleries/simg_1035.jpg" 255 230 %}" alt="fantasy tree painting">
        <img class="thumb" src="{{ MEDIA_URL }}{% thumbnail "uploads/galleries/portrait.jpg" 255 230 %}" alt="graphite portrait">
        </div></div>
        <a href="paintings-gallery" class="gallery">Paintings Gallery</a>
    </article>
    <article id="about">
       <h2>About</h2>
       <div class="about">
        <p>I was born in Czechoslovakia in 1942, when the sun was in Libra, the moon in Leo, and Cancer on the horizon. I have lived a life full of joy and love, but also tragedy and hardship. I wish to leave art as my legacy, and share the beauty I see in the world around me. The human spirit is amazing, this I will always cherish.</p>
        <div class="profile"><img src="images/irmelin.jpg" alt="">
        </div></div>
    </article>
    <article id="photography">
        <h2>Photography</h2>
        <p>The art in photography is in capturing the moment of wonder and emotion. I specialize in nature and portrait photography.</p>
        <div class="images">
        <div class="feature-thumb">
            <img src="{{ MEDIA_URL }}{% thumbnail "uploads/galleries/monarch.jpg" 625 550 %}" alt="">
        </div>
        <div class="thumb-div">
            <img src="{{ MEDIA_URL }}{% thumbnail "uploads/galleries/kaiandairri.jpg" 250 175 %}" alt="" class="thumb">
            <img src="{{ MEDIA_URL }}{% thumbnail "uploads/galleries/waitingforthebus.jpg" 250 175 %}" alt="" class="thumb">
            <img src="{{ MEDIA_URL }}{% thumbnail "uploads/galleries/colorado.jpg" 250 175 %}" alt="" class="thumb">
        </div></div>
        <a href="photo-gallery" class="gallery">Photo Gallery</a>
    </article>
    <article id="contact">
        <h2>Contact Me</h2>
        <p>Please email me to inquire about purchasing or commissioning a painting or print.
        email: xxxx@ssdcckjnad.com
        </p>
    </article>
</section>
{% endblock %}